.row {
    padding: 50px;
}

div {
    background-color: #000;
    color: #fff;
    text-align: right;
    padding-right: inherit;
}

/*Titulo de Acerca de mi*/
#acercatitulo {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        box-shadow: 3px 3px 3px greenyellow;
        border-radius: 100%;
        width: 120px;
        right: 5%;
        margin-top: 80px;
    }
}

@media (max-width: 575px) {
    #fotoperfil {
        position: absolute;
        box-shadow: 3px 3px 3px greenyellow;
        border-radius: 100%;
        width: 30%;
        right: 5%;
        top: 535px;
        margin-right: 10%;
        margin-bottom: 200;
    }

    #estiloacerca {
        text-align: center;
    }
}