<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ab, vel hic dicta deserunt est
                    voluptate nihil, commodi quidem quae iure similique molestiae nisi animi a. Corporis officia optio
                    assumenda.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ab, vel hic dicta deserunt est
                    voluptate nihil, commodi quidem quae iure similique molestiae nisi animi a. Corporis officia optio
                    assumenda.</p>
            </li>
        </ul>
    </div>
</div>