.row {
    padding: 50px;
    background-color: #000;
}

div {

    color: #fefefe;
    text-align: right;
    padding-right: inherit;
}


/*Titulo de Acerca de mi*/
#acercatitulo {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        border-radius: 100%;
        width: 300px;
        right: 4%;
        left: 73%;
        top: 730px;
    }
}

@media (max-width: 575px) {
    #fotoperfil {
        position: absolute;
        box-shadow: 3px 3px 3px yellow;
        border-radius: 100%;
        width: 30%;
        right: 5%;
        top: 535px;
        margin-right: 10%;
        margin-bottom: 200;
    }

    #estiloacerca {
        text-align: center;
    }
}