.row {
    padding: 50px;
    background-color: #000;
}

div {
    color: bisque;
    text-align: right;
    text-decoration: wavy;
    background-color: #000;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        border-radius: 100%;
        width: 300px;
        right: 4%;
        left: 73%;
        top: 730px;
    }

    #texto,
    #acercatitulo {
        margin-right: 5%;
    }
}



@media (max-width: 575px) {
    #fotoperfil {
        position: absolute;
        box-shadow: 3px 3px 3px yellow;
        border-radius: 100%;
        width: 30%;
        right: 5%;
        top: 535px;
        margin-right: 10%;
        margin-bottom: 200;
    }

    #estiloacerca {
        text-align: center;
        color: bisque;
    }
}