<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src=" ../../../assets/foto.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombretitulo">
        <p id="nombre">{{persona.nombre}}</p>
        <br>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <span id="estiloacerca">
            <h1 id="acercatitulo">Acerca de mi ☺</h1>
            <p id="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br> Beatae, id laborum doloribus rerum architecto hic facilis
                <br> animi ad obcaecati maxime repellat a quis numquam necessitatibus porro? Porro
                natus ducimus velit!
            </p>
        </span>
    </div>

</div>